button:focus {outline:0 !important;}

body {
    background-color: #262626;
}

#myCanvas {
  border: 5px solid black;
  position: absolute;
    background-color: #FFF0A5;
}

#bottomPanel {
    border: 1px solid black;
    position: absolute;
}

#cursor {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 6px solid black;
  position: absolute;
  border-radius: 20px;
}

#cursorIndicator {
  left: -52px;
  top: -52px;
  width: 120px;
  height: 120px;
  border: 3px solid black;
  border-radius: 120px;
  position: relative;
}

#undoIcon {
  position: absolute;
  font-size: 96px;
  font-family: sans-serif;

  /*left: 50px;*/
  /*top: 50px;*/
  display: none;
}

#redoIcon {
  position: absolute;
  font-size: 96px;
  font-family: sans-serif;

  /*left: 50px;*/
  /*top: 100px;*/
  display: none;
}

.instructions {
    font-size: 60px;
    font-family: sans-serif;
    word-wrap: break-word;
    text-align: center;
    width:100%;
    /*background-color: #4b4b4b;*/
    /*color: #a9a9a9;*/
    background-color: rgb(75,75,75);
    color: #d1d1d1;
    border: 5px solid black;
}

.highlightInstructions {
    /*background-color: #969696;*/
    color: #FFFFFF;
}

#undoButton {
    position: absolute;
}

#redoButton {
    position: absolute;
}